<h2>Transaction List</h2>

<!-- Show loading text until the data is available -->
<div *ngIf="!(transactions$ | async); else dataLoaded">
    <p>Loading transactions...</p>
</div>

<ng-template #dataLoaded>
    <div class="scrollable-table-container">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions$ | async">
                    <td>{{ transaction.date | date }}</td>
                    <td>{{ transaction.amount | currency }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.notes }}</td>
                    <td>
                        <button class="btn btn-primary" (click)="updateTransaction(transaction.id)" style="margin-right: 10px;">Update</button>
                        <button class="btn btn-danger" (click)="deleteTransaction(transaction.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>
